#commonhealth_footer {
    text-align: center;
    background: #fff;
    padding: 25px 0;
  }
  .commonhealth_footer-channel {
    width: 100%;
    font-size: 0.9375rem;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
  }
  .commonhealth_footer-channel ul {
    margin: 0;
    padding: 0;
  }
  .commonhealth_footer-channel li {
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-right: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .commonhealth_footer-channel li a {
    color: #333;
    text-decoration: none;
    position: relative;
  }
  .commonhealth_footer-channel li a:after {
    content: "";
    background-color: #094;
    width: 0;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    display: inline-block;
    transition: .3s;
  }
  .commonhealth_footer-channel li a:hover:after {
    width: 100%;
    left: 0;
  }
  .commonhealth_footer-channel li:last-child {
    border: none;
    margin-right: 0;
    padding-right: 0;
  }
  .commonhealth_footer-channel a:hover {
    color: #000;
  }
  .commonhealth_footer-copyright {
    color: #555;
    font-size: 0.875rem;
    font-size: 14px;
    text-align: center;
  }
  .commonhealth_footer-copyright a {
    display:inline-block;
    border-bottom:1px dotted #555;
    padding-bottom:1px;
  }
  .commonhealth_footer-channel br, .commonhealth_footer-copyright br {
    display: none;
  }
  .uiGuideline-boxs {
    min-height: 80vh;
  }
  @media (max-width: 768px) {
    .commonhealth_footer-channel {
      font-size: 0.875rem;
      font-size: 14px;
    }
    .commonhealth_footer-channel li {
      padding-right: 5px;
      margin-right: 3px;
    }
    .commonhealth_footer-channel li:nth-child(5) {
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }
    .commonhealth_footer-copyright {
      font-size: 0.8125rem;
      font-size: 13px;
      line-height: 1.5;
    }
    .commonhealth_footer-channel br, .commonhealth_footer-copyright br {
      display: inline-block;
    }
    /*Lite*/
    .commonhealth_footer-channel.lite li:nth-child(4) {
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }
  }
  @media (max-width: 320px) {
    .commonhealth_footer-channel, .commonhealth_footer-copyright {
      font-size: 0.75rem;
      font-size: 12px;
    }
  }