@-webkit-keyframes bounce {
	from, 20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate2d(0, -20px, 0)
	}
	70% {
		-webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -2px, 0);
		transform: translate3d(0, -2px, 0)
	}
}
@keyframes bounce {
	from, 20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	70% {
		-webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -2px, 0);
		transform: translate3d(0, -2px, 0)
	}
}
@-webkit-keyframes bounceInUp {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes bounceInUp {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0)
	}
}
@keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0)
	}
}
@-webkit-keyframes bounceInDown {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0)
	}
}
@keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0)
	}
}
.select2-container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	.select2-selection--single {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		height: 28px;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-user-select: none;
		.select2-selection__rendered {
			display: block;
			padding-left: 8px;
			padding-right: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.select2-selection__clear {
			position: relative;
		}
	}
	.select2-selection--multiple {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		min-height: 32px;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-user-select: none;
		.select2-selection__rendered {
			display: inline-block;
			overflow: hidden;
			padding-left: 8px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.select2-search--inline {
		float: left;
		.select2-search__field {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border: none;
			font-size: 100%;
			margin-top: 5px;
			padding: 0;
			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}
		}
	}
}
.select2-container[dir=rtl] {
	.select2-selection--single {
		.select2-selection__rendered {
			padding-right: 8px;
			padding-left: 20px;
		}
	}
}
.select2-dropdown {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
}
.select2-results {
	display: block;
}
.select2-results__options {
	list-style: none;
	margin: 0;
	padding: 0;
}
.select2-results__option {
	padding: 6px;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}
.select2-results__option[aria-selected] {
	cursor: pointer;
}
.select2-container--open {
	.select2-dropdown {
		left: 0;
	}
	.select2-dropdown--above {
		border-bottom: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.select2-dropdown--below {
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
.select2-search--dropdown {
	display: block;
	padding: 4px;
	.select2-search__field {
		padding: 4px;
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
		}
	}
}
.select2-search--dropdown.select2-search--hide {
	display: none;
}
.select2-close-mask {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity=0);
}
.select2-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}
.select2-container--default {
	.select2-selection--single {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 4px;
		.select2-selection__rendered {
			color: #444;
			line-height: 28px;
		}
		.select2-selection__clear {
			cursor: pointer;
			float: right;
			font-weight: 700;
		}
		.select2-selection__placeholder {
			color: #999;
		}
		.select2-selection__arrow {
			height: 26px;
			position: absolute;
			top: 1px;
			right: 1px;
			width: 20px;
			b {
				border-color: #888 transparent transparent transparent;
				border-style: solid;
				border-width: 5px 4px 0;
				height: 0;
				left: 50%;
				margin-left: -4px;
				margin-top: -2px;
				position: absolute;
				top: 50%;
				width: 0;
			}
		}
		&:focus {
			outline: none;
		}
	}
	.select2-selection--multiple {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 4px;
		cursor: text;
		.select2-selection__rendered {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			list-style: none;
			margin: 0;
			padding: 0 5px;
			width: 100%;
			li {
				list-style: none;
			}
		}
		.select2-selection__placeholder {
			color: #999;
			margin-top: 5px;
			float: left;
		}
		.select2-selection__clear {
			cursor: pointer;
			float: right;
			font-weight: 700;
			margin-top: 5px;
			margin-right: 10px;
		}
		.select2-selection__choice {
			background-color: #e4e4e4;
			border: 1px solid #aaa;
			border-radius: 4px;
			cursor: default;
			float: left;
			margin-right: 5px;
			margin-top: 5px;
			padding: 0 5px;
		}
		.select2-selection__choice__remove {
			color: #999;
			cursor: pointer;
			display: inline-block;
			font-weight: 700;
			margin-right: 2px;
			&:hover {
				color: #333;
			}
		}
	}
	.select2-search--dropdown {
		.select2-search__field {
			border: 1px solid #aaa;
		}
	}
	.select2-search--inline {
		.select2-search__field {
			background: 0 0;
			border: none;
			outline: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			-webkit-appearance: textfield;
		}
	}
	.select2-results {
		>.select2-results__options {
			max-height: 200px;
			overflow-y: auto;
		}
	}
	.select2-results__option[role=group] {
		padding: 0;
	}
	.select2-results__option[aria-disabled=true] {
		color: #999;
	}
	.select2-results__option[aria-selected=true] {
		background-color: #ddd;
	}
	.select2-results__option {
		.select2-results__option {
			padding-left: 1em;
			.select2-results__group {
				padding-left: 0;
			}
			.select2-results__option {
				margin-left: -1em;
				padding-left: 2em;
				.select2-results__option {
					margin-left: -2em;
					padding-left: 3em;
					.select2-results__option {
						margin-left: -3em;
						padding-left: 4em;
						.select2-results__option {
							margin-left: -4em;
							padding-left: 5em;
							.select2-results__option {
								margin-left: -5em;
								padding-left: 6em;
							}
						}
					}
				}
			}
		}
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: #5897fb;
		color: #fff;
	}
	.select2-results__group {
		cursor: default;
		display: block;
		padding: 6px;
	}
	.select2-selection--single.fancySearch {
		border: none;
		height: auto;
		background-color: #f7f7f7;
		.select2-selection__rendered {
			padding: 18px 33px 15px 25px;
		}
		.select2-selection__arrow {
			top: 50%;
			margin-top: -13px;
			right: 13px;
		}
	}
}
.select2-container--default[dir=rtl] {
	.select2-selection--single {
		.select2-selection__clear {
			float: left;
		}
		.select2-selection__arrow {
			left: 1px;
			right: auto;
		}
	}
	.select2-selection--multiple {
		.select2-selection__choice {
			float: right;
			margin-left: 5px;
			margin-right: auto;
		}
		.select2-selection__placeholder {
			float: right;
		}
		.select2-search--inline {
			float: right;
		}
		.select2-selection__choice__remove {
			margin-left: 2px;
			margin-right: auto;
		}
	}
}
.select2-container--default.select2-container--disabled {
	.select2-selection--single {
		background-color: #eee;
		cursor: default;
		.select2-selection__clear {
			display: none;
		}
	}
	.select2-selection--multiple {
		background-color: #eee;
		cursor: default;
	}
	.select2-selection__choice__remove {
		display: none;
	}
}
.select2-container--default.select2-container--open {
	.select2-selection--single {
		.select2-selection__arrow {
			b {
				border-color: transparent transparent #888 transparent;
				border-width: 0 4px 5px;
			}
		}
	}
}
.select2-container--default.select2-container--focus {
	.select2-selection--multiple {
		border: solid #000 1px;
		outline: 0;
	}
}
.select2-container--default.select2-container--open.select2-container--above {
	.select2-selection--single {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.select2-selection--multiple {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
.select2-container--default.select2-container--open.select2-container--below {
	.select2-selection--single {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.select2-selection--multiple {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
.select2-container--classic {
	.select2-selection--single {
		background-color: #f7f7f7;
		border: 1px solid #aaa;
		border-radius: 4px;
		outline: 0;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), to(#eeeeee));
		background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
		&:focus {
			border: 1px solid #5897fb;
		}
		.select2-selection__rendered {
			color: #444;
			line-height: 28px;
		}
		.select2-selection__clear {
			cursor: pointer;
			float: right;
			font-weight: 700;
			margin-right: 10px;
		}
		.select2-selection__placeholder {
			color: #999;
		}
		.select2-selection__arrow {
			background-color: #ddd;
			border: none;
			border-left: 1px solid #aaa;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			height: 26px;
			position: absolute;
			top: 1px;
			right: 1px;
			width: 20px;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#cccccc));
			background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
			b {
				border-color: #888 transparent transparent transparent;
				border-style: solid;
				border-width: 5px 4px 0;
				height: 0;
				left: 50%;
				margin-left: -4px;
				margin-top: -2px;
				position: absolute;
				top: 50%;
				width: 0;
			}
		}
	}
	.select2-selection--multiple {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 4px;
		cursor: text;
		outline: 0;
		&:focus {
			border: 1px solid #5897fb;
		}
		.select2-selection__rendered {
			list-style: none;
			margin: 0;
			padding: 0 5px;
		}
		.select2-selection__clear {
			display: none;
		}
		.select2-selection__choice {
			background-color: #e4e4e4;
			border: 1px solid #aaa;
			border-radius: 4px;
			cursor: default;
			float: left;
			margin-right: 5px;
			margin-top: 5px;
			padding: 0 5px;
		}
		.select2-selection__choice__remove {
			color: #888;
			cursor: pointer;
			display: inline-block;
			font-weight: 700;
			margin-right: 2px;
			&:hover {
				color: #555;
			}
		}
	}
	.select2-search--dropdown {
		.select2-search__field {
			border: 1px solid #aaa;
			outline: 0;
		}
	}
	.select2-search--inline {
		.select2-search__field {
			outline: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.select2-dropdown {
		background-color: #fff;
		border: 1px solid transparent;
	}
	.select2-dropdown--above {
		border-bottom: none;
	}
	.select2-dropdown--below {
		border-top: none;
	}
	.select2-results {
		>.select2-results__options {
			max-height: 200px;
			overflow-y: auto;
		}
	}
	.select2-results__option[role=group] {
		padding: 0;
	}
	.select2-results__option[aria-disabled=true] {
		color: grey;
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: #3875d7;
		color: #fff;
	}
	.select2-results__group {
		cursor: default;
		display: block;
		padding: 6px;
	}
}
.select2-container--classic[dir=rtl] {
	.select2-selection--single {
		.select2-selection__clear {
			float: left;
		}
		.select2-selection__arrow {
			border: none;
			border-right: 1px solid #aaa;
			border-radius: 0;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			left: 1px;
			right: auto;
		}
	}
	.select2-selection--multiple {
		.select2-selection__choice {
			float: right;
			margin-left: 5px;
			margin-right: auto;
		}
		.select2-selection__choice__remove {
			margin-left: 2px;
			margin-right: auto;
		}
	}
}
.select2-container--classic.select2-container--open {
	.select2-selection--single {
		border: 1px solid #5897fb;
		.select2-selection__arrow {
			background: 0 0;
			border: none;
			b {
				border-color: transparent transparent #888 transparent;
				border-width: 0 4px 5px;
			}
		}
	}
	.select2-selection--multiple {
		border: 1px solid #5897fb;
	}
	.select2-dropdown {
		border-color: #5897fb;
	}
}
.select2-container--classic.select2-container--open.select2-container--above {
	.select2-selection--single {
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #eeeeee));
		background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
	}
	.select2-selection--multiple {
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
.select2-container--classic.select2-container--open.select2-container--below {
	.select2-selection--single {
		border-bottom: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(white));
		background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
	}
	.select2-selection--multiple {
		border-bottom: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
.select2.select2-container {
	width: 100%;
}
.select2-dropdown.filterDropdown {
	z-index: 200;
}

#pcHeader {
	background-color: #fff;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.img {
		height: auto;
		>img {
			display: block;
			width: 100%;
		}
	}
	.wrapper {
		max-width: 1200px;
		min-width: 1200px;
		margin: 0 auto;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
		}
	}
	.wrap {
		position: relative;
	}
	.header {
		padding: 30px 10px 15px;
		background-color: #fff;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.widget {
			float: right;
			padding: 7px 8px;
		}
		.widget__account {
			text-align: right;
			.accountBtn {
				display: inline-block;
				color: #094;
			}
			.accountBtn--login {
				margin-right: 10px;
			}
			.accountBtn--join {
				padding: 3px 10px;
				border: 1px solid #094;
				border-radius: 15px;
			}
			.user {
				display: inline-block;
				cursor: pointer;
				position: relative;
				>span {
					display: inline-block;
					vertical-align: middle;
				}
				&:after {
					content: '';
					display: inline-block;
					width: 32px;
					height: 32px;
					background-image: url(https://www.commonhealth.com.tw/images/user.png);
					background-size: 32px 32px;
					vertical-align: middle;
					margin-left: 5px;
				}
			}
			.user__name {
				&:after {
					content: '';
					display: inline-block;
					width: 9px;
					height: 5px;
					background-image: url(https://www.commonhealth.com.tw/images/icon-account-menu@3x.png);
					background-size: 9px 5px;
					margin-left: 5px;
					vertical-align: middle;
				}
			}
			.user__links {
				max-height: 0;
				overflow: hidden;
				margin-top: 8px;
				position: absolute;
				width: 100%;
				padding: 0 8px;
				background-color: #fff;
				z-index: 250;
				-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
				box-shadow: 0 0 3px rgba(0, 0, 0, .2);
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-transition: max-height .5s ease-in-out;
				transition: max-height .5s ease-in-out;
				>a {
					display: block;
					text-align: center;
					border-bottom: 1px solid #e8e8e8;
					padding: 5px 0;
					color: #222;
					&:hover {
						color: #094;
					}
					&:last-of-type {
						border-bottom: none;
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: -10px;
					left: 50%;
					margin-left: -12px;
					width: 24px;
					height: 10px;
					background-image: url(https://www.commonhealth.com.tw/images/icon-member-arrow@3x.png);
					background-size: 24px 10px;
				}
			}
			.user__links.active {
				max-height: 9999px;
			}
		}
		.widget__popular {
			margin-top: 5px;
			color: #58bfff;
			>a {
				color: #222;
				position: relative;
				padding: 0 5px;
				&:after {
					content: '';
					width: 0;
					height: 15px;
					position: absolute;
					top: 50%;
					margin-top: -7.5px;
					right: .5px;
					border-right: 1px dotted #d1d1d1;
				}
				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}
		.logo {
			float: left;
			text-indent: 101%;
			white-space: nowrap;
			overflow: hidden;
			margin: 0;
		}
		.logo__img {
			display: block;
			width: 110px;
			height: 64px;
			background-image: url(https://www.commonhealth.com.tw/images/logo-pc@3x.png);
			background-size: 110px 64px;
			background-repeat: no-repeat;
		}
		.search {
			float: left;
			margin-left: 100px;
		}
	}
	.header.on {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		z-index: 900;
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	}
	.header__nav {
		background-color: #f7f7f7;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.nav__others {
		float: right;
		>a {
			display: inline-block;
			color: #222;
			padding: 8px;
			position: relative;
			margin-left: -6px;
			&:hover {
				color: #094;
			}
			&:after {
				content: '';
				width: 0;
				height: 15px;
				position: absolute;
				top: 50%;
				margin-top: -7.5px;
				right: .5px;
				border-right: 1px dotted #d1d1d1;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
			}
		}
	}
	.header__nav.on {
		position: fixed;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 800;
	}
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		>li {
			float: left;
			>span {
				cursor: pointer;
			}
		}
	}
	.menu--lv1 {
		float: left;
		>li {
			>span {
				display: block;
				padding: 8px 30px;
				position: relative;
				&:after {
					content: '';
					width: 0;
					height: 15px;
					position: absolute;
					top: 50%;
					margin-top: -7.5px;
					right: .5px;
					border-right: 1px dotted #d1d1d1;
				}
			}
			>a {
				display: block;
				padding: 8px 30px;
				position: relative;
				color: #222;
				&:after {
					content: '';
					width: 0;
					height: 15px;
					position: absolute;
					top: 50%;
					margin-top: -7.5px;
					right: .5px;
					border-right: 1px dotted #d1d1d1;
				}
				&:hover {
					color: #094;
				}
			}
			&:first-of-type {
				>span {
					&:after {
						display: none;
					}
				}
				>a {
					&:after {
						display: none;
					}
				}
			}
		}
		>li.on {
			>span {
				border-radius: 3px 3px 0 0;
				color: #fff;
				background-color: #094;
			}
			>.menu__content--lv1 {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.menu--lv2 {
		float: left;
		background-color: #094;
		>li {
			>span {
				display: block;
				padding: 8px 20px;
				color: #fff;
				position: relative;
				&:after {
					content: '';
					width: 0;
					height: 15px;
					position: absolute;
					top: 50%;
					margin-top: -7.5px;
					right: .5px;
					border-right: 1px dotted #d1d1d1;
				}
			}
			>a {
				display: block;
				padding: 8px 20px;
				color: #fff;
				position: relative;
				&:after {
					content: '';
					width: 0;
					height: 15px;
					position: absolute;
					top: 50%;
					margin-top: -7.5px;
					right: .5px;
					border-right: 1px dotted #d1d1d1;
				}
			}
			&:hover {
				>span {
					color: #e3e880;
				}
			}
		}
		>li.on {
			>span {
				color: #e3e880;
			}
			.menu__content--lv2 {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.menu--lv3 {
		>li {
			width: 50%;
			max-width: 210px;
			padding: 0 5px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			.menuList {
				>span {
					display: block;
					padding: 8px 0;
					cursor: pointer;
					font-size: 20px;
					color: #094;
					position: relative;
					border-bottom: 1px solid #e8e8e8;
					&:after {
						content: '';
						width: 20px;
						height: 20px;
						position: absolute;
						right: 0;
						top: 50%;
						margin-top: -10px;
						background-image: url(https://www.commonhealth.com.tw/images/icon-megamenu@3x.png);
						background-size: 20px 20px;
					}
				}
				>a {
					display: block;
					padding: 8px 0;
					cursor: pointer;
					font-size: 20px;
					color: #094;
					position: relative;
					border-bottom: 1px solid #e8e8e8;
					.sponsor {
						display: inline-block;
						vertical-align: top;
						font-size: 10px;
						line-height: 1;
						color: #434141;
						padding: 2px 5px;
						border-radius: 8px;
						background-color: #d1d1d1;
					}
				}
			}
			.menuList.on {
				.menu__content--lv3 {
					visibility: visible;
					opacity: 1;
				}
			}
			&:last-of-type {
				>span {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	.menu--lv4 {
		min-height: 250px;
		padding: 20px 10px;
		>li {
			width: 33.33333333%;
			padding-right: 10px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			&:nth-child(3n+1) {
				clear: left;
			}
			>a {
				display: block;
				padding: 8px 0;
				font-size: 18px;
				color: #222;
				border-bottom: 1px dotted #e8e8e8;
				.sponsor {
					display: inline-block;
					vertical-align: top;
					font-size: 10px;
					line-height: 1;
					color: #434141;
					padding: 2px 5px;
					border-radius: 8px;
					background-color: #d1d1d1;
				}
			}
		}
	}
	.menu__content {
		-webkit-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 200;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.menu__content--lv1 {
		background-color: #094;
		visibility: hidden;
		opacity: 0;
	}
	.menu__content--lv2 {
		visibility: hidden;
		opacity: 0;
	}
	.menu__content--lv3 {
		visibility: hidden;
		opacity: 0;
		top: 0;
		background-color: #f7f7f7;
	}
	.menu__others {
		float: right;
	}
	.subMenu {
		color: #222;
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
		box-shadow: 0 0 5px rgba(0, 0, 0, .2);
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.subMenu.leftHigher {
		background-color: #fff;
	}
	.subMenu.rightHigher {
		background-color: #f7f7f7;
	}
	.subMenu__feature {
		float: left;
		padding: 20px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		min-height: 415px;
	}
	.subMenu__feature--in {
		background-color: #f7f7f7;
		width: 31.94444444%;
		text-align: right;
	}
	.subMenu__feature--main {
		width: 48.95833333%;
		position: relative;
		background-color: #fff;
		>div {
			position: relative;
			>.title {
				>span {
					font-size: 32px;
					font-weight: 700;
					display: inline-block;
					position: relative;
					&:after {
						content: '';
						display: inline-block;
						width: 19px;
						height: 16px;
						vertical-align: top;
						background-image: url(https://www.commonhealth.com.tw/images/icon-section-title-deco@3x.png);
						background-size: 19px 16px;
					}
				}
			}
		}
	}
	.subMenu__feature--out {
		background-color: #fff;
		width: 19.09722222%;
	}
	.lastMenu__header {
		padding: 5px 10px;
		border-bottom: 5px solid #094;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		>.title {
			display: inline-block;
			>span {
				font-size: 25px;
				color: #094;
				font-weight: 700;
				position: relative;
			}
		}
		>.back {
			margin-top: 10px;
			float: right;
			cursor: pointer;
			&:before {
				content: '';
				display: inline-block;
				margin-right: 5px;
				width: 18px;
				height: 13px;
				background-image: url(https://www.commonhealth.com.tw/images/icon-back-menu@3x.png);
				background-size: 18px 13px;
			}
		}
	}
	.lastMenu__footer {
		padding: 5px 10px;
		text-align: right;
	}
	.search {
		.searchbar {
			position: relative;
			padding-left: 110px;
			padding-right: 90px;
			border-radius: 3px;
			max-width: 590px;
			background-color: #f7f7f7;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			&:before {
				content: "";
				display: table;
			}
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
		.searchbar__filter {
			position: absolute;
			left: 0;
			top: 0;
			width: 110px;
			.select2 {
				width: 100%;
				position: relative;
				&:after {
					content: '';
					display: block;
					width: 1px;
					height: 20px;
					background-color: #d1d1d1;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -10px;
				}
			}
		}
		.searchbar__insert {
			float: left;
			max-width: 400px;
			color: #979696;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			>input {
				max-width: 400px;
				width: 400px;
				background-color: #f7f7f7;
				padding: 21.5px 15px;
				border: none;
				font-size: 13px;
				outline: 0;
			}
		}
		.searchbar__button {
			position: absolute;
			top: 0;
			right: 0;
			padding: 20px 35px;
			border-radius: 3px;
			border: none;
			background-color: #094;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		.promote {
			display: none;
			position: absolute;
			background-color: #fff;
			z-index: 300;
			padding: 15px 30px;
			min-width: 590px;
			max-width: 590px;
			-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
			box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			.suggest {
				padding: 15px 0;
				border-bottom: 1px solid #e8e8e8;
				&:last-of-type {
					margin-bottom: 0;
					border-bottom: none;
				}
			}
			.suggest__title {
				position: relative;
				>span {
					font-size: 18px;
					font-weight: 700;
					display: inline-block;
					vertical-align: middle;
				}
				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 3px;
					height: 16px;
					border-radius: 3px;
					background-color: #54b782;
					margin-right: 8px;
				}
				.actions {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
			.suggest__content {
				padding: 15px 0;
			}
		}
	}
	.search.active {
		.searchbar {
			-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
			box-shadow: 0 0 5px rgba(0, 0, 0, .2);
		}
		.promote {
			display: block;
		}
	}
	.menuLeaflet--article {
		max-width: 300px;
		display: inline-block;
		text-align: left;
	}
	.menuLeaflet--admin {
		display: block;
		max-width: 155px;
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.menuLeaflet__media {
		display: block;
	}
	.menuLeaflet__text {
		margin-top: 20px;
		.title {
			color: #222;
			font-size: 18px;
		}
		.title.line-clamp2 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.description {
			color: #434141;
			margin-top: 5px;
		}
		.description.line-clamp2 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.menuLeaflet__more {
		margin-top: 10px;
	}
	.btn {
		line-height: 1;
		padding: 15px 20px;
		border-radius: 25px;
		text-align: center;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: none;
		cursor: pointer;
		font-size: 1em;
		letter-spacing: 0;
		font-weight: 400;
		float: initial;
	}
	.btn__text {
		font-size: 18px;
		display: inline-block;
		vertical-align: middle;
	}
	.btn__text--default {
		color: #fff;
		font-weight: 700;
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 7px;
			height: 10px;
			margin-left: 3px;
			margin-top: -3px;
			background-image: url(https://www.commonhealth.com.tw/images/btn-arrow@3x.png);
			background-size: 7px 20px;
			background-repeat: no-repeat;
			background-position: 0 0;
		}
	}
	.btn__text--more {
		color: #222;
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 7px;
			height: 10px;
			margin-left: 3px;
			margin-top: -3px;
			background-image: url(https://www.commonhealth.com.tw/images/btn-arrow@3x.png);
			background-size: 7px 20px;
			background-repeat: no-repeat;
			background-position: 0 -10px;
		}
	}
	.btn__text--agree {
		color: #222;
		font-weight: 700;
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 7px;
			height: 10px;
			margin-left: 3px;
			margin-top: -3px;
			background-image: url(https://www.commonhealth.com.tw/images/btn-arrow@3x.png);
			background-size: 7px 20px;
			background-repeat: no-repeat;
			width: 16px;
			height: 16px;
			margin-left: 3px;
			background-image: url(https://www.commonhealth.com.tw/images/icon-agree@3x.png);
			background-size: 16px 16px;
		}
	}
	.btn__text--pager {
		color: #094;
	}
	.btn__text--pager.prev {
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 9px;
			height: 14px;
			margin-right: 3px;
			margin-top: -3px;
			background-image: url(https://www.commonhealth.com.tw/images/icon-pager@3x.png);
			background-size: 9px 28px;
			background-repeat: no-repeat;
			background-position: 0 0;
		}
	}
	.btn__text--pager.next {
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 9px;
			height: 14px;
			margin-left: 3px;
			margin-top: -3px;
			background-image: url(https://www.commonhealth.com.tw/images/icon-pager@3x.png);
			background-size: 9px 28px;
			background-repeat: no-repeat;
			background-position: 0 -14px;
		}
	}
	.btn__text--menuLeaflet {
		color: #222;
	}
	.btn--block {
		display: block;
		width: 100%;
	}
	.btn--menuLeaflet {
		padding: 8px 0;
		border: 1px solid #e8e8e8;
	}
}

#mobileHeader {
	display: none
}
#pcHeader {
	display: block
}
.icon {
	display: inline-block;
	&:before {
		display: inline-block;
		vertical-align: middle;
		background-repeat: no-repeat;
		content: "";
	}
	&:after {
		display: inline-block;
		vertical-align: middle;
		background-repeat: no-repeat;
	}
}
.icon.icon--single {
	vertical-align: middle;
	&:before {
		display: block;
	}
	&:after {
		display: block;
	}
}
.icon--horizontalText {
	>.icon__text {
		display: inline-block;
		margin-left: 3px;
		vertical-align: middle;
	}
}
.icon__footerSocial {
	&:after {
		margin-right: 5px;
		width: 18px;
		height: 18px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-footer@3x.png?ffbfe7a��);
		background-size: 18px 108px;
	}
	&:before {
		margin-right: 5px;
		width: 18px;
		height: 18px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-footer@3x.png?ffbfe7a��);
		background-size: 18px 108px;
	}
}
.icon__footerSocial--fb {
	&:after {
		background-position: 0 0;
	}
	&:before {
		background-position: 0 0;
	}
}
.icon__footerSocial--line {
	&:after {
		background-position: 0 -18px;
	}
	&:before {
		background-position: 0 -18px;
	}
}
.icon__footerSocial--ig {
	&:after {
		background-position: 0 -36px;
	}
	&:before {
		background-position: 0 -36px;
	}
}
.icon__footerSocial--yt {
	&:after {
		background-position: 0 -54px;
	}
	&:before {
		background-position: 0 -54px;
	}
}
.icon__footerSocial--rss {
	&:after {
		background-position: 0 -72px;
	}
	&:before {
		background-position: 0 -72px;
	}
}
.icon__footerSocial--more {
	&:after {
		background-position: 0 -90px;
	}
	&:before {
		background-position: 0 -90px;
	}
}
.icon__navOther {
	margin-right: 3px;
	padding: 8px 7px;
	color: #fff;
	&:before {
		width: 24px;
		height: 22px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-nav-pc@3x.png);
		background-size: 24px 154px;
	}
	&:after {
		width: 24px;
		height: 22px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-nav-pc@3x.png);
		background-size: 24px 154px;
	}
}
.icon__navOther--publish {
	&:before {
		background-position: 0 -66px;
	}
	&:after {
		background-position: 0 -66px;
	}
}
.icon__navOther--club {
	&:before {
		background-position: 0 -22px;
	}
	&:after {
		background-position: 0 -22px;
	}
}
.icon__navOther--retirement {
	&:before {
		background-position: 0 -44px;
	}
	&:after {
		background-position: 0 -44px;
	}
}
.icon__navOther--video {
	&:before {
		background-position: 0 -88px;
	}
	&:after {
		background-position: 0 -88px;
	}
}
.icon__navOther--kb {
	&:before {
		background-position: 0 -133px;
	}
	&:after {
		background-position: 0 -133px;
	}
}
.icon__navOther--shop {
	&:before {
		background-position: 0 -110px;
	}
	&:after {
		background-position: 0 -110px;
	}
}
.icon__navOther--book {
	&:before {
		background-position: 0 0;
	}
	&:after {
		background-position: 0 0;
	}
}
.icon__navOther--chr {
	margin-right: 3px;
	padding: 8px 7px;
	color: #fff;
	&:before {
		width: 22px;
		height: 22px;
		background-image: url(https://www.commonhealth.com.tw/images/CHRlogo.png);
		background-size: 22px 22px;
	}
	&:after {
		width: 22px;
		height: 22px;
		background-image: url(https://www.commonhealth.com.tw/images/CHRlogo.png);
		background-size: 22px 22px;
	}
}
.grid {
	&:after {
		content: "";
		display: table;
	}
	&:before {
		content: "";
		display: table;
	}
}
.icon__feature {
	color: #222;
	font-size: 15px;
	&:before {
		width: 45px;
		height: 45px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-menu-header@3x.png);
		background-size: 45px 180px;
	}
	&:after {
		width: 45px;
		height: 45px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-menu-header@3x.png);
		background-size: 45px 180px;
	}
	>.icon__text {
		margin-top: 10px;
	}
}
.icon__feature--login {
	&:before {
		background-position: 0 0;
	}
	&:after {
		background-position: 0 0;
	}
}
.icon__feature--member {
	&:before {
		background-position: 0 -45px;
	}
	&:after {
		background-position: 0 -45px;
	}
}
.icon__feature--magazine {
	&:before {
		background-position: 0 -90px;
	}
	&:after {
		background-position: 0 -90px;
	}
}
.icon__feature--subscribe {
	&:before {
		background-position: 0 -135px;
	}
	&:after {
		background-position: 0 -135px;
	}
}
.icon__element {
	vertical-align: middle;
	&:before {
		background-position: 0 0;
	}
	&:after {
		background-position: 0 0;
	}
}
.icon__element--search {
	&:before {
		width: 22px;
		height: 22px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-search-magnifier@3x.png);
		background-size: 22px 22px;
	}
	&:after {
		width: 22px;
		height: 22px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-search-magnifier@3x.png);
		background-size: 22px 22px;
	}
}
.icon__element--clear {
	&:before {
		width: 15px;
		height: 15px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-clearrecord@3x.png);
		background-size: 15px;
	}
	&:after {
		width: 15px;
		height: 15px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-clearrecord@3x.png);
		background-size: 15px;
	}
	.icon__text {
		font-size: 14px;
	}
}
.icon__menu {
	&:before {
		width: 40px;
		height: 40px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-menu-links@3x.png);
		background-size: 40px 440px;
	}
	&:after {
		width: 40px;
		height: 40px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-menu-links@3x.png);
		background-size: 40px 440px;
	}
}
.icon__menu--shop {
	&:before {
		background-position: 0 0;
	}
	&:after {
		background-position: 0 0;
	}
}
.icon__menu--club {
	&:before {
		background-position: 0 -40px;
	}
	&:after {
		background-position: 0 -40px;
	}
}
.icon__menu--kb {
	&:before {
		background-position: 0 -80px;
	}
	&:after {
		background-position: 0 -80px;
	}
}
.icon__menu--retired {
	&:before {
		background-position: 0 -120px;
	}
	&:after {
		background-position: 0 -120px;
	}
}
.icon__menu--book {
	&:before {
		background-position: 0 -160px;
	}
	&:after {
		background-position: 0 -160px;
	}
}
.icon__menu--fb {
	&:before {
		background-position: 0 -200px;
	}
	&:after {
		background-position: 0 -200px;
	}
}
.icon__menu--line {
	&:before {
		background-position: 0 -240px;
	}
	&:after {
		background-position: 0 -240px;
	}
}
.icon__menu--ig {
	&:before {
		background-position: 0 -280px;
	}
	&:after {
		background-position: 0 -280px;
	}
}
.icon__menu--yt {
	&:before {
		background-position: 0 -320px;
	}
	&:after {
		background-position: 0 -320px;
	}
}
.icon__menu--rss {
	&:before {
		background-position: 0 -360px;
	}
	&:after {
		background-position: 0 -360px;
	}
}
.icon__menu--video {
	&:before {
		background-position: 0 -400px;
	}
	&:after {
		background-position: 0 -400px;
	}
}
.icon__menu--chr {
	&:before {
		width: 40px;
		height: 40px;
		background-image: url(https://www.commonhealth.com.tw/images/CHRlogo.png);
		background-size: 40px 40px;
	}
	&:after {
		width: 40px;
		height: 40px;
		background-image: url(https://www.commonhealth.com.tw/images/CHRlogo.png);
		background-size: 40px 40px;
	}
}

#mobileHeader {
	.header {
		position: fixed;
		height: 50px;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
		z-index: 100;
		background-color: #fff;
		.widget {
			float: right;
			padding: 7px 8px;
		}
		.logo {
			margin: 0;
			position: absolute;
			top: 10px;
			left: 55px;
			text-indent: 101%;
			white-space: nowrap;
			overflow: hidden;
		}
		.logo__img {
			display: block;
			width: 63px;
			height: 30px;
			background-image: url(https://www.commonhealth.com.tw/images/logo@3x.png);
			background-size: 63px 30px;
			background-repeat: no-repeat;
		}
	}
	.burger {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.burger--default {
		float: left;
		border-right: 1px solid #e8e8e8;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-right: 1px solid #e8e8e8;
	}
	.burger--opened {
		position: absolute;
		right: 0;
		top: 0;
	}
	.burger__icon {
		position: relative;
		width: 44px;
		height: 50px;
		background-image: url(https://www.commonhealth.com.tw/images/icon-header-control@3x.png);
		background-size: 44px 150px;
		background-position: 0 0;
	}
	.burger__icon.active {
		background-position: 0 -50px;
	}
	.header__nav {
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: -100%;
		overflow: auto;
		visibility: hidden;
		-webkit-overflow-scrolling: touch;
		z-index: 200;
		background-color: #fff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		.features__link {
			display: block;
			font-weight: 700;
			color: #222;
			position: relative;
			padding: 13px 0;
			border-bottom: 1px solid #e8e8e8;
		}
		.features {
			.grid {
				margin-top: 10px;
				margin: 10px -8px 0;
				>li {
					padding: 0 4px;
				}
			}
		}
		.features--top {
			padding: 12px 30px;
		}
		.features--main {
			padding: 0 30px;
		}
	}
	.nav__head {
		background-color: #f7f7f7;
		background-color: #f7f7f7;
		padding-bottom: 50px;
		-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
		box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
		position: fixed;
		width: 100%;
		top: 0;
		left: -100%;
		z-index: 10;
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	.nav__main {
		background-color: #f7f7f7;
		background-color: #f7f7f7;
		padding-bottom: 50px;
		overflow: scroll;
		height: 100vh;
		-webkit-overflow-scrolling: touch;
	}
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		>li {
			border-bottom: 1px solid #e8e8e8;
			&:last-of-type {
				border-bottom: none;
			}
		}
		>li.opened {
			>.menu__topic--lv1 {
				>span {
					&:after {
						background-position: 0 -20px;
					}
				}
				>a {
					&:after {
						background-position: 0 -20px;
					}
				}
			}
			>.menu__topic--lv2 {
				>span {
					&:after {
						background-position: 0 -60px;
					}
				}
				>a {
					&:after {
						background-position: 0 -60px;
					}
				}
			}
			>.menu__content {
				max-height: 9999px;
				-webkit-transition: max-height 1s ease-in-out;
				transition: max-height 1s ease-in-out;
			}
		}
	}
	.menu__topic {
		>span {
			display: block;
			position: relative;
			&:after {
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				top: 50%;
				margin-top: -10px;
				background-image: url(https://www.commonhealth.com.tw/images/icon-menu-category@3x.png);
				background-size: 20px 80px;
				background-repeat: no-repeat;
			}
		}
		>a {
			display: block;
			position: relative;
			&:after {
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				top: 50%;
				margin-top: -10px;
				background-image: url(https://www.commonhealth.com.tw/images/icon-menu-category@3x.png);
				background-size: 20px 80px;
				background-repeat: no-repeat;
			}
		}
	}
	.menu__topic--lv1 {
		>span {
			padding: 13px 40px 13px 20px;
			color: #fff;
			font-size: 18px;
			background-color: #094;
			&:after {
				right: 20px;
				background-position: 0 0;
			}
		}
		>a {
			padding: 13px 40px 13px 20px;
			color: #fff;
			font-size: 18px;
			background-color: #094;
			&:after {
				right: 20px;
				background-position: 0 0;
			}
		}
	}
	.menu__topic--lv2 {
		border-bottom: 1px solid #e8e8e8;
		>span {
			padding: 13px 20px 13px 0;
			color: #222;
			font-weight: 700;
			.sponsor {
				display: inline-block;
				vertical-align: top;
				font-size: 10px;
				line-height: 1;
				color: #434141;
				padding: 2px 5px;
				border-radius: 8px;
				background-color: #d1d1d1;
				font-weight: 400;
			}
			&:after {
				right: 0;
				background-position: 0 -40px;
			}
		}
		>a {
			padding: 13px 20px 13px 0;
			color: #222;
			font-weight: 700;
			.sponsor {
				display: inline-block;
				vertical-align: top;
				font-size: 10px;
				line-height: 1;
				color: #434141;
				padding: 2px 5px;
				border-radius: 8px;
				background-color: #d1d1d1;
				font-weight: 400;
			}
			&:after {
				right: 0;
				background-position: 0 -40px;
			}
		}
	}
	.menu__topic--lv3 {
		>span {
			display: block;
			padding: 8px 40px 8px 15px;
			color: #222;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 3px;
				height: 12px;
				border-radius: 3px;
				background-color: #54b782;
				margin-right: 5px;
				margin-top: -2px;
			}
			&:after {
				right: 15px;
				background-position: 0 -40px;
			}
		}
		>a {
			display: block;
			padding: 8px 40px 8px 15px;
			color: #222;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 3px;
				height: 12px;
				border-radius: 3px;
				background-color: #54b782;
				margin-right: 5px;
				margin-top: -2px;
			}
			&:after {
				right: 15px;
				background-position: 0 -40px;
			}
		}
	}
	.menu__content {
		margin: 0;
		padding: 0;
		list-style: none;
		max-height: 0;
		overflow: hidden;
		>li.opened {
			>.menu__content {
				max-height: 9999px;
				-webkit-transition: max-height 1s ease-in-out;
				transition: max-height 1s ease-in-out;
			}
		}
	}
	.menu__content--lv1 {
		background-color: #fff;
		>li {
			padding: 0 20px;
			&:last-of-type {
				border-bottom: none;
				>.menu__topic--lv2 {
					border-bottom: none;
				}
			}
			&:last-of-type.opened {
				margin-bottom: 13px;
				>.menu__topic {
					border-bottom: 1px solid #e8e8e8;
				}
			}
		}
		>li.opened {
			.menu__topic--lv2 {
				>span {
					&:after {
						background-position: 0 -60px;
					}
				}
				>a {
					&:after {
						background-position: 0 -60px;
					}
				}
			}
		}
	}
	.menu__content--lv2 {
		max-height: 0;
		background-color: #f7f7f7;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		>li {
			position: relative;
			>a {
				display: block;
				padding: 8px 40px 8px 15px;
				color: #222;
				.sponsor {
					display: inline-block;
					vertical-align: top;
					font-size: 10px;
					line-height: 1;
					color: #434141;
					padding: 2px 5px;
					border-radius: 8px;
					background-color: #d1d1d1;
				}
				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 3px;
					height: 12px;
					border-radius: 3px;
					background-color: #54b782;
					margin-right: 5px;
					margin-top: -2px;
				}
			}
		}
		>li.opened {
			.menu__topic--lv3 {
				>span {
					&:after {
						background-position: 0 -60px;
					}
				}
				>a {
					&:after {
						background-position: 0 -60px;
					}
				}
			}
		}
	}
	.menu__content--lv3 {
		max-height: 0;
		background-color: #f7f7f7;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		>li {
			float: left;
			width: 50%;
			position: relative;
			>a {
				display: block;
				padding: 12px 0;
				text-align: center;
				color: #222;
				.sponsor {
					display: inline-block;
					vertical-align: top;
					font-size: 10px;
					line-height: 1;
					color: #434141;
					padding: 2px 5px;
					border-radius: 8px;
					background-color: #d1d1d1;
				}
			}
			&:nth-of-type(2n+1) {
				&:after {
					content: '';
					width: 0;
					height: 15px;
					position: absolute;
					top: 50%;
					margin-top: -7.5px;
					right: .5px;
					border-right: 1px dotted #d1d1d1;
				}
			}
		}
	}
	.searchbar {
		position: relative;
		padding-right: 40px;
		border-radius: 3px;
		overflow: hidden;
	}
	.searchbar__insert {
		color: #979696;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		>span {
			display: block;
			padding: 7px 15px;
			background-color: #f7f7f7;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.clear {
			position: absolute;
			width: 15px;
			height: 15px;
			right: 10px;
			top: 50%;
			margin-top: -12.5px;
		}
		input[type=text] {
			padding: 7.5px 30px 7px 15px;
			width: 100%;
		}
	}
	.searchbar__button {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		padding: 6px 10px;
		border-radius: 3px;
		background-color: #094;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.searchOverlay {
		position: fixed;
		width: 100%;
		top: 0;
		right: -100%;
		overflow: auto;
		visibility: hidden;
		-webkit-overflow-scrolling: touch;
		z-index: 200;
		min-height: 100vh;
		background-color: #fff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	.searchOverlay__bar {
		position: relative;
		padding: 7px 8px 7px 50px;
		background-color: #f7f7f7;
		border-bottom: 1px solid #e8e8e8;
		.control {
			position: absolute;
			top: 0;
			left: 0;
		}
		.arrow {
			width: 44px;
			height: 50px;
			background-image: url(https://www.commonhealth.com.tw/images/icon-header-control@3x.png);
			background-size: 44px 150px;
			background-position: 0 -100px;
		}
	}
	.searchOverlay__suggest {
		padding: 20px;
		.suggest {
			margin-bottom: 15px;
			border-bottom: 1px solid #e8e8e8;
			&:last-of-type {
				margin-bottom: 0;
				border-bottom: none;
			}
		}
		.suggest__title {
			position: relative;
			>span {
				font-size: 18px;
				font-weight: 700;
				display: inline-block;
				vertical-align: middle;
			}
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 3px;
				height: 16px;
				border-radius: 3px;
				background-color: #54b782;
				margin-right: 8px;
			}
			.actions {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		.suggest__content {
			padding: 15px 0;
		}
	}
	.grid {
		margin: 0;
		padding: 0;
		list-style: none;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		>li {
			float: left;
			text-align: center;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
	.grid--2grid {
		>li {
			width: 50%;
		}
	}
	.grid--3grid {
		>li {
			width: 33.33333333%;
		}
	}
	.grid--4grid {
		>li {
			width: 25%;
		}
	}
}

.openMenu {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.container {
		height: 100%;
	}
	#mobileHeader {
		.nav {
			max-height: 100vh;
			left: 0;
			visibility: visible;
		}
		.nav__head {
			left: 0;
		}
	}
}
.openSearch {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	#mobileHeader {
		.searchOverlay {
			right: 0;
			visibility: visible;
		}
	}
}
.searchOverlay__suggest {
	.tags {
		display: inline-block;
		line-height: 1;
		padding: 7px 14px;
		border-radius: 17px;
		margin-right: 3px;
		margin-bottom: 10px;
		border-width: 1px;
		border-style: solid;
		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
	.tags--normal {
		color: #222;
		border-color: #e8e8e8;
		&:after {
			content: '';
			display: none;
		}
	}
}

@media(max-width:768px) {
	#pcHeader {
		display: none
	}
	#mobileHeader {
		display: block
	}
}

#pcHeader, #mobileHeader {
	a {
		text-decoration: none !important;
	}
}
.menu__others {
	a {
		color: #fff !important;
	}
}