* {
	position: static
}

@-webkit-keyframes bounce {
	from, 20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate2d(0, -20px, 0)
	}
	70% {
		-webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -2px, 0);
		transform: translate3d(0, -2px, 0)
	}
}
@keyframes bounce {
	from, 20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	70% {
		-webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		animation-timing-function: cubic-bezier(.755, .05, .855, .06);
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -2px, 0);
		transform: translate3d(0, -2px, 0)
	}
}
@-webkit-keyframes bounceInUp {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes bounceInUp {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0)
	}
}
@keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0)
	}
}
@-webkit-keyframes bounceInDown {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0)
	}
}
@keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0)
	}
}

#pcHeader {
	background-color: #fff
}
#pcHeader:before, #pcHeader:after {
	content: "";
	display: table
}
#pcHeader:after {
	clear: both
}
#pcHeader .img {
	height: auto
}
#pcHeader .img>img {
	display: block;
	width: 100%
}
#pcHeader .wrapper {
	max-width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .wrapper:before, #pcHeader .wrapper:after {
	content: "";
	display: table
}
#pcHeader .wrap {
	position: relative
}
#pcHeader .header {
	padding: 30px 10px 15px;
	background-color: #fff
}
#pcHeader .header:before, #pcHeader .header:after {
	content: "";
	display: table
}
#pcHeader .header:after {
	clear: both
}
#pcHeader .header .widget {
	float: right;
	padding: 7px 8px
}
#pcHeader .header .widget__account {
	text-align: right
}
#pcHeader .header .widget__account .accountBtn {
	display: inline-block;
	color: #094
}
#pcHeader .header .widget__account .accountBtn--login {
	margin-right: 10px
}
#pcHeader .header .widget__account .accountBtn--join {
	padding: 3px 10px;
	border: 1px solid #094;
	border-radius: 15px
}
#pcHeader .header .widget__account .user {
	display: inline-block;
	cursor: pointer;
	position: relative
}
#pcHeader .header .widget__account .user>span {
	display: inline-block;
	vertical-align: middle
}
#pcHeader .header .widget__account .user__name:after {
	content: '';
	display: inline-block;
	width: 9px;
	height: 5px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-account-menu@3x.png);
	background-size: 9px 5px;
	margin-left: 5px;
	vertical-align: middle
}
#pcHeader .header .widget__account .user__links {
	max-height: 0;
	overflow: hidden;
	margin-top: 8px;
	position: absolute;
	width: 100%;
	padding: 0 8px;
	background-color: #fff;
	z-index: 250;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: max-height .5s ease-in-out;
	transition: max-height .5s ease-in-out
}
#pcHeader .header .widget__account .user__links>a {
	display: block;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
	padding: 5px 0;
	color: #222
}
#pcHeader .header .widget__account .user__links>a:hover {
	color: #094
}
#pcHeader .header .widget__account .user__links>a:last-of-type {
	border-bottom: none
}
#pcHeader .header .widget__account .user__links:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 10px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-member-arrow@3x.png);
	background-size: 24px 10px
}
#pcHeader .header .widget__account .user__links.active {
	max-height: 9999px
}
#pcHeader .header .widget__account .user:after {
	content: '';
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(https://www.commonhealth.com.tw/images/user.png);
	background-size: 32px 32px;
	vertical-align: middle;
	margin-left: 5px
}
#pcHeader .header .widget__popular {
	margin-top: 5px;
	color: #58bfff
}
#pcHeader .header .widget__popular>a {
	color: #222;
	position: relative;
	padding: 0 5px
}
#pcHeader .header .widget__popular>a:after {
	content: '';
	width: 0;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: .5px;
	border-right: 1px dotted #d1d1d1
}
#pcHeader .header .widget__popular>a:last-of-type:after {
	display: none
}
#pcHeader .header .logo {
	float: left;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0
}
#pcHeader .header .logo__img {
	display: block;
	width: 110px;
	height: 64px;
	background-image: url(https://www.commonhealth.com.tw/images/logo-pc@3x.png);
	background-size: 110px 64px;
	background-repeat: no-repeat
}
#pcHeader .header .search {
	float: left;
	margin-left: 100px
}
#pcHeader .header.on {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 900;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}
#pcHeader .nav {
	background-color: #f7f7f7;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .nav:before, #pcHeader .nav:after {
	content: "";
	display: table
}
#pcHeader .nav:after {
	clear: both
}
#pcHeader .nav__others {
	float: right
}
#pcHeader .nav__others>a {
	display: inline-block;
	color: #222;
	padding: 8px;
	position: relative;
	margin-left: -6px
}
#pcHeader .nav__others>a:hover {
	color: #094
}
#pcHeader .nav__others>a:after {
	content: '';
	width: 0;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: .5px;
	border-right: 1px dotted #d1d1d1
}
#pcHeader .nav__others>a:last-of-type:after {
	display: none
}
#pcHeader .nav.on {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 800
}
#pcHeader .menu {
	margin: 0;
	padding: 0;
	list-style: none
}
#pcHeader .menu:before, #pcHeader .menu:after {
	content: "";
	display: table
}
#pcHeader .menu:after {
	clear: both
}
#pcHeader .menu>li {
	float: left
}
#pcHeader .menu>li>span {
	cursor: pointer
}
#pcHeader .menu--lv1 {
	float: left
}
#pcHeader .menu--lv1>li>span, #pcHeader .menu--lv1>li>a {
	display: block;
	padding: 8px 30px;
	position: relative
}
#pcHeader .menu--lv1>li>span:after, #pcHeader .menu--lv1>li>a:after {
	content: '';
	width: 0;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: .5px;
	border-right: 1px dotted #d1d1d1
}
#pcHeader .menu--lv1>li>a {
	color: #222
}
#pcHeader .menu--lv1>li>a:hover {
	color: #094
}
#pcHeader .menu--lv1>li:first-of-type>span:after, #pcHeader .menu--lv1>li:first-of-type>a:after {
	display: none
}
#pcHeader .menu--lv1>li.on>span {
	border-radius: 3px 3px 0 0;
	color: #fff;
	background-color: #094
}
#pcHeader .menu--lv1>li.on>.menu__content--lv1 {
	visibility: visible;
	opacity: 1
}
#pcHeader .menu--lv2 {
	float: left;
	background-color: #094
}
#pcHeader .menu--lv2>li>span, #pcHeader .menu--lv2>li>a {
	display: block;
	padding: 8px 20px;
	color: #fff;
	position: relative
}
#pcHeader .menu--lv2>li>span:after, #pcHeader .menu--lv2>li>a:after {
	content: '';
	width: 0;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: .5px;
	border-right: 1px dotted #d1d1d1
}
#pcHeader .menu--lv2>li:hover>span {
	color: #e3e880
}
#pcHeader .menu--lv2>li.on>span {
	color: #e3e880
}
#pcHeader .menu--lv2>li.on .menu__content--lv2 {
	visibility: visible;
	opacity: 1
}
#pcHeader .menu--lv3>li {
	width: 50%;
	max-width: 210px;
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .menu--lv3>li .menuList>span {
	display: block;
	padding: 8px 0;
	cursor: pointer;
	font-size: 20px;
	color: #094;
	position: relative;
	border-bottom: 1px solid #e8e8e8
}
#pcHeader .menu--lv3>li .menuList>span:after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-megamenu@3x.png);
	background-size: 20px 20px
}
#pcHeader .menu--lv3>li .menuList>a {
	display: block;
	padding: 8px 0;
	cursor: pointer;
	font-size: 20px;
	color: #094;
	position: relative;
	border-bottom: 1px solid #e8e8e8
}
#pcHeader .menu--lv3>li .menuList>a .sponsor {
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	line-height: 1;
	color: #434141;
	padding: 2px 5px;
	border-radius: 8px;
	background-color: #d1d1d1
}
#pcHeader .menu--lv3>li .menuList.on .menu__content--lv3 {
	visibility: visible;
	opacity: 1
}
#pcHeader .menu--lv3>li:last-of-type>span:after {
	display: none
}
#pcHeader .menu--lv4 {
	min-height: 250px;
	padding: 20px 10px
}
#pcHeader .menu--lv4>li {
	width: 33.33333333%;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .menu--lv4>li:nth-child(3n+1) {
	clear: left
}
#pcHeader .menu--lv4>li>a {
	display: block;
	padding: 8px 0;
	font-size: 18px;
	color: #222;
	border-bottom: 1px dotted #e8e8e8
}
#pcHeader .menu--lv4>li>a .sponsor {
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	line-height: 1;
	color: #434141;
	padding: 2px 5px;
	border-radius: 8px;
	background-color: #d1d1d1
}
#pcHeader .menu__content {
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 200;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .menu__content--lv1 {
	background-color: #094;
	visibility: hidden;
	opacity: 0
}
#pcHeader .menu__content--lv2 {
	visibility: hidden;
	opacity: 0
}
#pcHeader .menu__content--lv3 {
	visibility: hidden;
	opacity: 0;
	top: 0;
	background-color: #f7f7f7
}
#pcHeader .menu__others {
	float: right
}
#pcHeader .subMenu {
	color: #222;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}
#pcHeader .subMenu:before, #pcHeader .subMenu:after {
	content: "";
	display: table
}
#pcHeader .subMenu:after {
	clear: both
}
#pcHeader .subMenu.leftHigher {
	background-color: #fff
}
#pcHeader .subMenu.rightHigher {
	background-color: #f7f7f7
}
#pcHeader .subMenu__feature {
	float: left;
	padding: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 415px
}
#pcHeader .subMenu__feature--in {
	background-color: #f7f7f7;
	width: 31.94444444%;
	text-align: right
}
#pcHeader .subMenu__feature--main {
	width: 48.95833333%;
	position: relative;
	background-color: #fff
}
#pcHeader .subMenu__feature--main>div {
	position: relative
}
#pcHeader .subMenu__feature--main>div>.title>span {
	font-size: 32px;
	font-weight: 700;
	display: inline-block;
	position: relative
}
#pcHeader .subMenu__feature--main>div>.title>span:after {
	content: '';
	display: inline-block;
	width: 19px;
	height: 16px;
	vertical-align: top;
	background-image: url(https://www.commonhealth.com.tw/images/icon-section-title-deco@3x.png);
	background-size: 19px 16px
}
#pcHeader .subMenu__feature--out {
	background-color: #fff;
	width: 19.09722222%
}
#pcHeader .lastMenu__header {
	padding: 5px 10px;
	border-bottom: 5px solid #094
}
#pcHeader .lastMenu__header:before, #pcHeader .lastMenu__header:after {
	content: "";
	display: table
}
#pcHeader .lastMenu__header:after {
	clear: both
}
#pcHeader .lastMenu__header>.title {
	display: inline-block
}
#pcHeader .lastMenu__header>.title>span {
	font-size: 25px;
	color: #094;
	font-weight: 700;
	position: relative
}
#pcHeader .lastMenu__header>.back {
	margin-top: 10px;
	float: right;
	cursor: pointer
}
#pcHeader .lastMenu__header>.back:before {
	content: '';
	display: inline-block;
	margin-right: 5px;
	width: 18px;
	height: 13px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-back-menu@3x.png);
	background-size: 18px 13px
}
#pcHeader .lastMenu__footer {
	padding: 5px 10px;
	text-align: right
}
#pcHeader .search .searchbar {
	position: relative;
	padding-left: 110px;
	padding-right: 90px;
	border-radius: 3px;
	max-width: 590px;
	background-color: #f7f7f7;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .search .searchbar:before, #pcHeader .search .searchbar:after {
	content: "";
	display: table
}
#pcHeader .search .searchbar:after {
	clear: both
}
#pcHeader .search .searchbar__filter {
	position: absolute;
	left: 0;
	top: 0;
	width: 110px
}
#pcHeader .search .searchbar__filter .select2 {
	width: 100%;
	position: relative
}
#pcHeader .search .searchbar__filter .select2:after {
	content: '';
	display: block;
	width: 1px;
	height: 20px;
	background-color: #d1d1d1;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px
}
#pcHeader .search .searchbar__insert {
	float: left;
	max-width: 400px;
	color: #979696;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .search .searchbar__insert>input {
	max-width: 400px;
	width: 400px;
	background-color: #f7f7f7;
	padding: 21.5px 15px;
	border: none
}
#pcHeader .search .searchbar__button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 35px;
	border-radius: 3px;
	border: none;
	background-color: #094;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .search .promote {
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 300;
	padding: 15px 30px;
	min-width: 590px;
	max-width: 590px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#pcHeader .search .promote .suggest {
	padding: 15px 0;
	border-bottom: 1px solid #e8e8e8
}
#pcHeader .search .promote .suggest:last-of-type {
	margin-bottom: 0;
	border-bottom: none
}
#pcHeader .search .promote .suggest__title {
	position: relative
}
#pcHeader .search .promote .suggest__title>span {
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle
}
#pcHeader .search .promote .suggest__title:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 16px;
	border-radius: 3px;
	background-color: #54b782;
	margin-right: 8px
}
#pcHeader .search .promote .suggest__title .actions {
	position: absolute;
	right: 0;
	top: 0
}
#pcHeader .search .promote .suggest__content {
	padding: 15px 0
}
#pcHeader .search.active .searchbar {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}
#pcHeader .search.active .promote {
	display: block
}
#pcHeader .menuLeaflet--article {
	max-width: 300px;
	display: inline-block;
	text-align: left
}
#pcHeader .menuLeaflet--admin {
	display: block;
	max-width: 155px;
	margin-bottom: 20px
}
#pcHeader .menuLeaflet--admin:last-of-type {
	margin-bottom: 0
}
#pcHeader .menuLeaflet__media {
	display: block
}
#pcHeader .menuLeaflet__text {
	margin-top: 20px
}
#pcHeader .menuLeaflet__text .title {
	color: #222;
	font-size: 18px
}
#pcHeader .menuLeaflet__text .title.line-clamp2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}
#pcHeader .menuLeaflet__text .description {
	color: #434141;
	margin-top: 5px
}
#pcHeader .menuLeaflet__text .description.line-clamp2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}
#pcHeader .menuLeaflet__more {
	margin-top: 10px
}
#pcHeader .btn {
	line-height: 1;
	padding: 15px 20px;
	border-radius: 25px;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	border: none;
	cursor: pointer;
	font-size: 1em;
	letter-spacing: 0;
	font-weight: 400;
	float: initial
}
#pcHeader .btn__text {
	font-size: 18px;
	display: inline-block;
	vertical-align: middle
}
#pcHeader .btn__text--default {
	color: #fff;
	font-weight: 700
}
#pcHeader .btn__text--default:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 10px;
	margin-left: 3px;
	margin-top: -3px;
	background-image: url(https://www.commonhealth.com.tw/images/btn-arrow@3x.png);
	background-size: 7px 20px;
	background-repeat: no-repeat
}
#pcHeader .btn__text--default:after {
	background-position: 0 0
}
#pcHeader .btn__text--more {
	color: #222
}
#pcHeader .btn__text--more:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 10px;
	margin-left: 3px;
	margin-top: -3px;
	background-image: url(https://www.commonhealth.com.tw/images/btn-arrow@3x.png);
	background-size: 7px 20px;
	background-repeat: no-repeat
}
#pcHeader .btn__text--more:after {
	background-position: 0 -10px
}
#pcHeader .btn__text--agree {
	color: #222;
	font-weight: 700
}
#pcHeader .btn__text--agree:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 10px;
	margin-left: 3px;
	margin-top: -3px;
	background-image: url(https://www.commonhealth.com.tw/images/btn-arrow@3x.png);
	background-size: 7px 20px;
	background-repeat: no-repeat
}
#pcHeader .btn__text--agree:after {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-agree@3x.png);
	background-size: 16px 16px
}
#pcHeader .btn__text--pager {
	color: #094
}
#pcHeader .btn__text--pager.prev:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 14px;
	margin-right: 3px;
	margin-top: -3px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-pager@3x.png);
	background-size: 9px 28px;
	background-repeat: no-repeat;
	background-position: 0 0
}
#pcHeader .btn__text--pager.next:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 14px;
	margin-left: 3px;
	margin-top: -3px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-pager@3x.png);
	background-size: 9px 28px;
	background-repeat: no-repeat;
	background-position: 0 -14px
}
#pcHeader .btn__text--menuLeaflet {
	color: #222
}
#pcHeader .btn--block {
	display: block;
	width: 100%
}
#pcHeader .btn--menuLeaflet {
	padding: 8px 0;
	border: 1px solid #e8e8e8
}

#mobileHeader {
	display: none
}
#pcHeader {
	display: block
}


#mobileHeader .header {
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	z-index: 100;
	background-color: #fff
}
#mobileHeader .header .widget {
	float: right;
	padding: 7px 8px
}
#mobileHeader .header .logo {
	margin: 0;
	position: absolute;
	top: 10px;
	left: 55px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden
}
#mobileHeader .header .logo__img {
	display: block;
	width: 63px;
	height: 30px;
	background-image: url(https://www.commonhealth.com.tw/images/logo@3x.png);
	background-size: 63px 30px;
	background-repeat: no-repeat
}
#mobileHeader .burger {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#mobileHeader .burger--default {
	float: left;
	border-right: 1px solid #e8e8e8;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 1px solid #e8e8e8
}
#mobileHeader .burger--opened {
	position: absolute;
	right: 0;
	top: 0
}
#mobileHeader .burger__icon {
	position: relative;
	width: 44px;
	height: 50px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-header-control@3x.png);
	background-size: 44px 150px;
	background-position: 0 0
}
#mobileHeader .burger__icon.active {
	background-position: 0 -50px
}
#mobileHeader .nav {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: -100%;
	overflow: auto;
	visibility: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 200;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out
}
#mobileHeader .nav__head, #mobileHeader .nav__main {
	background-color: #f7f7f7;
	background-color: #f7f7f7;
	padding-bottom: 50px
}
#mobileHeader .nav__head {
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
	position: fixed;
	width: 100%;
	top: 0;
	left: -100%;
	z-index: 10;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out
}
#mobileHeader .nav__main {
	overflow: scroll;
	height: 100vh;
	-webkit-overflow-scrolling: touch
}
#mobileHeader .nav .features__link {
	display: block;
	font-weight: 700;
	color: #222;
	position: relative;
	padding: 13px 0;
	border-bottom: 1px solid #e8e8e8
}
#mobileHeader .nav .features .grid {
	margin-top: 10px;
	margin: 10px -8px 0
}
#mobileHeader .nav .features .grid>li {
	padding: 0 4px
}
#mobileHeader .nav .features--top {
	padding: 12px 30px
}
#mobileHeader .nav .features--main {
	padding: 0 30px
}
#mobileHeader .menu {
	margin: 0;
	padding: 0;
	list-style: none
}
#mobileHeader .menu>li {
	border-bottom: 1px solid #e8e8e8
}
#mobileHeader .menu>li:last-of-type {
	border-bottom: none
}
#mobileHeader .menu>li.opened>.menu__topic--lv1>span:after, #mobileHeader .menu>li.opened>.menu__topic--lv1>a:after {
	background-position: 0 -20px
}
#mobileHeader .menu>li.opened>.menu__topic--lv2>span:after, #mobileHeader .menu>li.opened>.menu__topic--lv2>a:after {
	background-position: 0 -60px
}
#mobileHeader .menu>li.opened>.menu__content {
	max-height: 9999px;
	-webkit-transition: max-height 1s ease-in-out;
	transition: max-height 1s ease-in-out
}
#mobileHeader .menu__topic>span, #mobileHeader .menu__topic>a {
	display: block;
	position: relative;
}
#mobileHeader .menu__topic>span:after, #mobileHeader .menu__topic>a:after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-menu-category@3x.png);
	background-size: 20px 80px;
	background-repeat: no-repeat
}
#mobileHeader .menu__topic--lv1>span, #mobileHeader .menu__topic--lv1>a {
	padding: 13px 40px 13px 20px;
	color: #fff;
	font-size: 18px;
	background-color: #094
}
#mobileHeader .menu__topic--lv1>span:after, #mobileHeader .menu__topic--lv1>a:after {
	right: 20px;
	background-position: 0 0
}
#mobileHeader .menu__topic--lv2 {
	border-bottom: 1px solid #e8e8e8
}
#mobileHeader .menu__topic--lv2>span, #mobileHeader .menu__topic--lv2>a {
	padding: 13px 20px 13px 0;
	color: #222;
	font-weight: 700
}
#mobileHeader .menu__topic--lv2>span .sponsor, #mobileHeader .menu__topic--lv2>a .sponsor {
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	line-height: 1;
	color: #434141;
	padding: 2px 5px;
	border-radius: 8px;
	background-color: #d1d1d1;
	font-weight: 400
}
#mobileHeader .menu__topic--lv2>span:after, #mobileHeader .menu__topic--lv2>a:after {
	right: 0;
	background-position: 0 -40px
}
#mobileHeader .menu__topic--lv3>span, #mobileHeader .menu__topic--lv3>a {
	display: block;
	padding: 8px 40px 8px 15px;
	color: #222
}
#mobileHeader .menu__topic--lv3>span:before, #mobileHeader .menu__topic--lv3>a:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 12px;
	border-radius: 3px;
	background-color: #54b782;
	margin-right: 5px;
	margin-top: -2px
}
#mobileHeader .menu__topic--lv3>span:after, #mobileHeader .menu__topic--lv3>a:after {
	right: 15px;
	background-position: 0 -40px
}
#mobileHeader .menu__content {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 0;
	overflow: hidden
}
#mobileHeader .menu__content--lv1 {
	background-color: #fff
}
#mobileHeader .menu__content--lv1>li {
	padding: 0 20px
}
#mobileHeader .menu__content--lv1>li.opened .menu__topic--lv2>span:after, #mobileHeader .menu__content--lv1>li.opened .menu__topic--lv2>a:after {
	background-position: 0 -60px
}
#mobileHeader .menu__content--lv1>li:last-of-type {
	border-bottom: none
}
#mobileHeader .menu__content--lv1>li:last-of-type>.menu__topic--lv2 {
	border-bottom: none
}
#mobileHeader .menu__content--lv1>li:last-of-type.opened {
	margin-bottom: 13px
}
#mobileHeader .menu__content--lv1>li:last-of-type.opened>.menu__topic {
	border-bottom: 1px solid #e8e8e8
}
#mobileHeader .menu__content--lv2 {
	max-height: 0;
	background-color: #f7f7f7
}
#mobileHeader .menu__content--lv2:before, #mobileHeader .menu__content--lv2:after {
	content: "";
	display: table
}
#mobileHeader .menu__content--lv2:after {
	clear: both
}
#mobileHeader .menu__content--lv2>li {
	position: relative
}
#mobileHeader .menu__content--lv2>li.opened .menu__topic--lv3>span:after, #mobileHeader .menu__content--lv2>li.opened .menu__topic--lv3>a:after {
	background-position: 0 -60px
}
#mobileHeader .menu__content--lv2>li>a {
	display: block;
	padding: 8px 40px 8px 15px;
	color: #222
}
#mobileHeader .menu__content--lv2>li>a .sponsor {
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	line-height: 1;
	color: #434141;
	padding: 2px 5px;
	border-radius: 8px;
	background-color: #d1d1d1
}
#mobileHeader .menu__content--lv2>li>a:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 12px;
	border-radius: 3px;
	background-color: #54b782;
	margin-right: 5px;
	margin-top: -2px
}
#mobileHeader .menu__content--lv3 {
	max-height: 0;
	background-color: #f7f7f7
}
#mobileHeader .menu__content--lv3:before, #mobileHeader .menu__content--lv3:after {
	content: "";
	display: table
}
#mobileHeader .menu__content--lv3:after {
	clear: both
}
#mobileHeader .menu__content--lv3>li {
	float: left;
	width: 50%;
	position: relative
}
#mobileHeader .menu__content--lv3>li>a {
	display: block;
	padding: 12px 0;
	text-align: center;
	color: #222
}
#mobileHeader .menu__content--lv3>li>a .sponsor {
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	line-height: 1;
	color: #434141;
	padding: 2px 5px;
	border-radius: 8px;
	background-color: #d1d1d1
}
#mobileHeader .menu__content--lv3>li:nth-of-type(2n+1):after {
	content: '';
	width: 0;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: .5px;
	border-right: 1px dotted #d1d1d1
}
#mobileHeader .menu__content>li.opened>.menu__content {
	max-height: 9999px;
	-webkit-transition: max-height 1s ease-in-out;
	transition: max-height 1s ease-in-out
}
#mobileHeader .searchbar {
	position: relative;
	padding-right: 40px;
	border-radius: 3px;
	overflow: hidden
}
#mobileHeader .searchbar__insert {
	color: #979696;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative
}
#mobileHeader .searchbar__insert>span {
	display: block;
	padding: 7px 15px;
	background-color: #f7f7f7;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
#mobileHeader .searchbar__insert .clear {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 10px;
	top: 50%;
	margin-top: -12.5px
}
#mobileHeader .searchbar__insert input[type=text] {
	padding: 7.5px 30px 7px 15px;
	width: 100%
}
#mobileHeader .searchbar__button {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	padding: 6px 10px;
	border-radius: 3px;
	background-color: #094;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#mobileHeader .searchOverlay {
	position: fixed;
	width: 100%;
	top: 0;
	right: -100%;
	overflow: auto;
	visibility: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 200;
	min-height: 100vh;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out
}
#mobileHeader .searchOverlay__bar {
	position: relative;
	padding: 7px 8px 7px 50px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #e8e8e8
}
#mobileHeader .searchOverlay__bar .control {
	position: absolute;
	top: 0;
	left: 0
}
#mobileHeader .searchOverlay__bar .arrow {
	width: 44px;
	height: 50px;
	background-image: url(https://www.commonhealth.com.tw/images/icon-header-control@3x.png);
	background-size: 44px 150px;
	background-position: 0 -100px
}
#mobileHeader .searchOverlay__suggest {
	padding: 20px
}
#mobileHeader .searchOverlay__suggest .suggest {
	margin-bottom: 15px;
	border-bottom: 1px solid #e8e8e8
}
#mobileHeader .searchOverlay__suggest .suggest:last-of-type {
	margin-bottom: 0;
	border-bottom: none
}
#mobileHeader .searchOverlay__suggest .suggest__title {
	position: relative
}
#mobileHeader .searchOverlay__suggest .suggest__title>span {
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle
}
#mobileHeader .searchOverlay__suggest .suggest__title:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 16px;
	border-radius: 3px;
	background-color: #54b782;
	margin-right: 8px
}
#mobileHeader .searchOverlay__suggest .suggest__title .actions {
	position: absolute;
	right: 0;
	top: 0
}
#mobileHeader .searchOverlay__suggest .suggest__content {
	padding: 15px 0
}
#mobileHeader .grid {
	margin: 0;
	padding: 0;
	list-style: none
}
#mobileHeader .grid:before, #mobileHeader .grid:after {
	content: "";
	display: table
}
#mobileHeader .grid:after {
	clear: both
}
#mobileHeader .grid>li {
	float: left;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#mobileHeader .grid--2grid>li {
	width: 50%
}
#mobileHeader .grid--3grid>li {
	width: 33.33333333%
}
#mobileHeader .grid--4grid>li {
	width: 25%
}

.openMenu {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden
}
.openMenu .container {
	height: 100%
}
.openMenu #mobileHeader .nav {
	max-height: 100vh;
	left: 0;
	visibility: visible
}
.openMenu #mobileHeader .nav__head {
	left: 0
}
.openSearch {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden
}
.openSearch #mobileHeader .searchOverlay {
	right: 0;
	visibility: visible
}
.searchOverlay__suggest .tags {
	display: inline-block;
	line-height: 1;
	padding: 7px 14px;
	border-radius: 17px;
	margin-right: 3px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid
}
.searchOverlay__suggest .tags:nth-of-type(4n) {
	margin-right: 0
}
.searchOverlay__suggest .tags--normal {
	color: #222;
	border-color: #e8e8e8
}
.searchOverlay__suggest .tags--normal:after {
	content: '';
	display: none
}
@media(max-width:768px) {
	#pcHeader {
		display: none
	}
	#mobileHeader {
		display: block
	}
}