.bg-video {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(#{$path-ui}bg-video.jpg);
}
.bg-white-o50 {
    background-color: rgba($white,0.5);
}
.bg-info-o20 {
    background-color: rgba($info,0.2);
}