.bg-kv {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.371987) 44.79%, rgba(0, 0, 0, 0.7) 99.97%, rgba(0, 0, 0, 0.0144578) 99.98%, rgba(0, 0, 0, 0.0109375) 99.99%);
}
.bg-video {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(#{$path-ui}bg-video.jpg);
}
.bg-white-o50 {
    background-color: rgba($white,0.5);
}
.bg-info-o20 {
    background-color: rgba($info,0.2);
}