.rounded-4 {
    &.rounded-top {
        border-radius: var(--bs-border-radius-xl) !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    &.rounded-bottom {
        border-radius: var(--bs-border-radius-xl) !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
}